@{
    ViewData["Title"] = "GenAI Page";
}

<div class="genai_type" id="genai_tools">
    <h1>GenAI Tools</h1>
    <div class="tuoptions">
        <div class="ko">
            <div class="sizing">
                <div class="more" id="over1">
                    <h2>
                        ChatGPT
                    </h2>
                    <button class="more_btn" id="btn1">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over1" src="../../Images/genai/chatgpt_thumbnail.jpg" alt="Google Bard">
            </div>
            <div class="sizing">
                <div class="more" id="over2">
                    <h2>
                        Google Bard
                    </h2>
                    <button class="more_btn" id="btn2">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over2" src="../../Images/genai/bard_thumbnail.jpg" alt="Midjourney">
            </div>
        </div>
        <div class="ko">
            <div class="sizing">
                <div class="more" id="over3">
                    <h2>
                        Midjourney
                    </h2>
                    <button class="more_btn" id="btn3">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over3" src="../../Images/genai/midjourney_thumbnail.jpg" alt="Midjourney">
            </div>
            <div class="sizing">
                <div class="more" id="over4">
                    <h2>
                        Dall-E
                    </h2>
                    <button class="more_btn" id="btn4">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over4" src="../../Images/genai/dalle_thumbnail.jpg" alt="Midjourney">
            </div>
        </div>
    </div>
    <div class="more_details" id="det1">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/chatgpt_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    ChatGPT
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    ChatGPT is a large language model-based chatbot developed by OpenAI and launched on
                    November 30, 2022, notable for enabling users to refine and steer a conversation towards
                    a desired length, format, style, level of detail, and language used. (Wikipedia)
                </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/chatgpt_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close1">
            X
        </div>
    </div>
    <div class="more_details" id="det2">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/bard_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    Google Bard
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    Bard is a conversational generative artificial intelligence chatbot developed by Google,
                    based initially on the LaMDA family of large language models and later the PaLM LLM.
                    (Wikipedia) </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/bard_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close2">
            X
        </div>
    </div>
    <div class="more_details" id="det3">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/midjourney_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    Midjourney
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    Midjourney is a generative artificial intelligence program and service created and
                    hosted by San Francisco-based independent research lab Midjourney, Inc. (Wikipedia) </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/midjourney_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" m id="close3">
            X
        </div>
    </div>
    <div class="more_details" id="det4">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/dalle_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    DALL-E
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    DALL-E and DALL-E 2 are text-to-image models developed by OpenAI using deep learning
                    methodologies to generate digital images from natural language descriptions, called
                    prompts (Wikipedia) </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/dalle_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close4">
            X
        </div>
    </div>
</div>
<div class="genai_type" id="genai_org">
    <h1>GenAI Organizations</h1>
    <div class="tuoptions">
        <div class="ko">
            <div class="sizing">
                <div class="more" id="over5">
                    <h2>
                        Microsoft
                    </h2>
                    <button class="more_btn" id="btn5">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over5" src="../../Images/genai/ms_thumbnail.jpg" alt="Google Bard">
            </div>
            <div class="sizing">
                <div class="more" id="over6">
                    <h2>
                        Google
                    </h2>
                    <button class="more_btn" id="btn6">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over6" src="../../Images/genai/google_thumbnail.jpg" alt="Midjourney">
            </div>
        </div>
        <div class="ko">
            <div class="sizing">
                <div class="more" id="over7">
                    <h2>
                        IBM
                    </h2>
                    <button class="more_btn" id="btn7">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over7" src="../../Images/genai/ibm_thumbnail.jpg" alt="Midjourney">
            </div>
            <div class="sizing">
                <div class="more" id="over8">
                    <h2>
                        Amazon
                    </h2>
                    <button class="more_btn" id="btn8">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over8" src="../../Images/genai/amazon_thumbnail.jpg" alt="Midjourney">
            </div>
        </div>
    </div>
    <div class="more_details" id="det5">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/ms_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    Microsoft
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    Microsoft Corporation is an American multinational technology corporation headquartered
                    in Redmond, Washington. Microsofts best-known software products are the Windows line of
                    operating systems, the Microsoft 365 suite of productivity applications, and the
                    Internet Explorer and Edge web browsers. (Wikipedia)
                </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/ms_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close5">
            X
        </div>
    </div>
    <div class="more_details" id="det6">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/google_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    Google
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    Google LLC is an American multinational technology company focusing on artificial
                    intelligence, online advertising, search engine technology, cloud computing, computer
                    software, quantum computing, e-commerce, and consumer electronics. (Wikipedia) </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/google_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close6">
            X
        </div>
    </div>
    <div class="more_details" id="det7">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/ibm_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    IBM
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    The International Business Machines Corporation, nicknamed Big Blue, is an American
                    multinational technology corporation headquartered in Armonk, New York and is present in
                    over 175 countries. (Wikipedia) </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/ibm_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" m id="close7">
            X
        </div>
    </div>
    <div class="more_details" id="det8">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/amazon_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    Amazon
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    DALL-E and DALL-E 2 are text-to-image models developed by OpenAI using deep learning
                    methodologies to generate digital images from natural language descriptions, called
                    prompts (Wikipedia) </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/amazon_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close8">
            X
        </div>
    </div>
</div>
<div class="genai_type" id="genai_app">
    <h1>GenAI Applications</h1>
    <div class="tuoptions">
        <div class="ko">
            <div class="sizing">
                <div class="more" id="over9">
                    <h2>
                        ChatGPT
                    </h2>
                    <button class="more_btn" id="btn9">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over9" src="../../Images/genaisites/chatgpt_thumbnail.jpg"
                    alt="chatgpt_thumbnail">
            </div>
            <div class="sizing">
                <div class="more" id="over10">
                    <h2>
                        GitHub Copilot
                    </h2>
                    <button class="more_btn" id="btn10">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over10" src="../../Images/genaisites/githubcopilot_thumbnail.jpg"
                    alt="Midjourney">
            </div>
        </div>
        <div class="ko">
            <div class="sizing">
                <div class="more" id="over11">
                    <h2>
                        DALL-E
                    </h2>
                    <button class="more_btn" id="btn11">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over11" src="../../Images/genaisites/dalle_thumbnail.jpg"
                    alt="dalle_thumbnail">
            </div>
            <div class="sizing">
                <div class="more" id="over12">
                    <h2>
                        Synthesia
                    </h2>
                    <button class="more_btn" id="btn12">
                        More Details
                    </button>
                    <p> </p>
                </div>
                <img class="hover_effect" id="over12" src="../../Images/genaisites/synthesia_thumbnail.jpg"
                    alt="Midjourney">
            </div>
        </div>
    </div>
    <div class="more_details" id="det9">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/chatgpt_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    ChatGPT
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    ChatGPT is a large language model-based chatbot developed by OpenAI and launched on
                    November 30, 2022, notable for enabling users to refine and steer a conversation towards
                    a desired length, format, style, level of detail, and language used. (Wikipedia)
                </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/chatgpt_large.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close9">
            X
        </div>
    </div>
    <div class="more_details" id="det10">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/githubcopilot_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    GitHub Copilot
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    GitHub Copilot is a cloud-based artificial intelligence tool developed by GitHub and
                    OpenAI to assist users of Visual Studio Code, Visual Studio, Neovim, and JetBrains
                    integrated development environments by autocompleting code. (Wikipedia)
                </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/githubcopilot_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close10">
            X
        </div>
    </div>
    <div class="more_details" id="det11">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/dalle_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    DALL-E
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    DALL-E and DALL-E 2 are text-to-image models developed by OpenAI using deep learning
                    methodologies to generate digital images from natural language descriptions, called
                    "prompts". DALL-E was revealed by OpenAI in a blog post in January 2021, and uses a
                    version of GPT-3 modified to generate images. (Wikipedia)
                </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/dalle_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" m id="close11">
            X
        </div>
    </div>
    <div class="more_details" id="det12">
        <div class="clone">
            <div class="info_image">
                <img src="../../Images/genai/synthesia_large.jpg" alt="ChatGPT">
            </div>
            <div class="desc">
                <h2>
                    Synthesia
                </h2>
                <button id="btn1">
                    More Details
                </button>
                <p>
                    Synthesia is a synthetic media generation platform used to create AI generated video
                    content. Based in London, England, it counts among its users businesses including
                    Amazon, Tiffany & Co. and IHG Hotels & Resorts. (Wikipedia)
                </p>
                <button id="btn2">
                    Visit Website
                </button>
                <div id="holder">
                    <div class="logo">
                        <img src="../../Images/genai/synthesia_thumbnail.jpg" alt="ChatGPT">
                    </div>
                </div>
            </div>
        </div>
        <div class="close" id="close12">
            X
        </div>
    </div>
</div>